.navbar{
  width: 100%;
  display: flex;
  justify-content: right;
  height: 50px;
  background-color: white;
  box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15) !important;
  margin-bottom: 1.5rem;
}

.navbar .content{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  
  }

