.sidebar{
 flex: 1;
 border-right: 0.5px solid lightgray;
 height: 100%;
 min-height: 100vh;
 background-color: rgb(108, 29, 69);
}


/*Top sidebar*/
.sidebar .top{
 height: 50px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.sidebar .logo{
 font-size: 20px;
 font-weight: bold;
 color: white;
}

.sidebar hr{
 height: 0;
 width: 90%;
 border: 0.5px solid rgba(211, 211, 211, 0.286);
}

/*Center Sidebar*/

.center{
 padding-left: 10px;
}

.center ul{
 list-style: none;
 margin: 0;
 padding: 0;
}

ul .tittle{
 font-size: 10px;
 font-weight: bold;
 color: white;
 margin-top: 15px;
}

ul.links li{
 display: flex;
 align-items: center;
 padding: 5px;
 cursor: pointer;
}

ul.links li:hover{
 background-color: white;
}

ul.links .icon{
 font-size: 18px;
 color: white;
}

ul.links span{
 font-size: 13px;
 font-weight: 600;
 color: white;
 margin-left: 10px;
}

ul.links li:hover span {
 color: rgb(108, 29, 69);
}

ul.links li:hover .icon {
 color: rgb(108, 29, 69);
}

